<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>

	<!-- jQuery (necessary for Bootstrap'<s></s> JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-select.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-select.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      

      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" type="text/css" href="../css/fonts.css">
      <!--<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet"> -->
    </head>
    <body>

     <div class="container">
      <div class="header">
       <h1>iOne Jardim Inteligente</h1>
       <h2>Alterar Conta</h2>
     </div>

     <div class="formulario">

       <div class="row">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4">
         <form method="post" action="/alterarUsuario">
          <div class="form-group">
            <label>nome</label>
            <input class="form-control" type="text" name="nome" value="<%- usuario.nome %>" placeholder="nome" required="">
          </div>
          <div class="form-group">
            <label>sobrenome</label>
            <input class="form-control" type="text" name="sobrenome" value="<%- usuario.sobrenome %>" required placeholder="sobrenome">
          </div>
        
           <div class="form-group">
             <label>e-mail</label>
             <input class="form-control" type="email" name="email" value="<%- usuario.email %>" required placeholder="email" disabled>
           </div>

           <div class="form-group">
             <button id="botao" class="btn btn-default" type="submit" >Salvar</button>
             <a id="botao" class="btn btn-default" onclick="window.history.go(-1)">voltar</a>
             <div class="form-group">
             </form>
           </div>
           <div class="col-xs-12 col-md-4"></div>

         </div>
       </div>

     </body>
     </html>