<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>

	<!-- jQuery (necessary for Bootstrap'<s></s> JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
  <script src="js/component.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" type="text/css" href="../css/component.css">
      <link rel="stylesheet" type="text/css" href="css/fonts.css">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet"> 


    </head>
    <body>

     <div class="container">

      <div class="header">
       <h1>iOne Jardim Inteligente</h1>
     </div>
     <div class="content">
       <div class="row">
        <div class="col-xs-12 col-md-6">
         <input type="image" id="registrar" class="img-resposive center-block icone" name="registrar" src="./img/icone-novousuario.png" onclick= "window.location.assign('viewRegistrar')">
         <h2>registrar</h2>
       </div>
       <div class="col-xs-12 col-md-6">
         <input type="image" id="iniciar" class="img-resposive center-block icone" name="registrar" src="./img/icone-flor2.png" onclick= "window.location.assign('viewIniciar')">
         <h2>iniciar sessão</h2>
       </div

    </div>
  </div>
</div>

</body>
</html>