<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>


   <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
   <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
   <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>


   <!-- jQuery (necessary for Bootstrap'<s></s> JavaScript plugins) -->

   <script type="text/javascript" src="js/jquery-3.1.0.mim.js"></script>
   <script type="text/javascript" src="js/moment.min.js"></script>
   <script type="text/javascript" src="js/bootstrap.js"></script>
   <script type="text/javascript" src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>

   <!-- Include all compiled plugins (below), or include individual files as needed -->
   

   <!-- Bootstrap -->
   <link rel="stylesheet" href="css/bootstrap.min.css" >
   <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="css/fonts.css">
      <!--<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet"> -->


      <script>
         $(function() {
          $( "#calendario" ).datepicker();
       });
    </script>





    <script>
      function mostrar_opcao(obj) {
         document.getElementById('periodo').style.display= "none";
         switch (obj.value) {
            case '1':
            document.getElementById('periodo').style.display= "none";
            break
            case '2':
            document.getElementById('periodo').style.display= "block";
            break
            case '3':
            document.getElementById('periodo').style.display= "block";
            break
            case '4':
            document.getElementById('periodo').style.display= "block";
            break
         }
      }
   </script>


   <script>
      $(function() {
       $("#calendario1, #calendario2").datepicker({
         dateFormat: 'dd-mm-yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
     });
    });
 </script>


 <script>
   function Submit(obj){

      switch (obj.value) {
         case '1':
         document.forms[0].action = '/selectPlantas'
         break
         case '2':
         document.forms[0].action = '/selectUmidade'
         break
         case '3':
         document.forms[0].action = '/selectConsumo'
         break
         case '4':
         document.forms[0].action = '/selectCompleto'
         break

      }

      document.forms[0].submit();

   }

</script>


</head>


<body>

 <div class="container">

   <div class="header">
      <h1>iOne Jardim Inteligente</h1>
      <h2>relatorio detalhado</h2>
   </div>


   <div class="formulario">
      <div class="rows">
         <div class="col-xs-12 col-md-4"></div>
         <div class="col-xs-12 col-md-4">
            <form class="form" method="post">
               <div class="form-group">

                  <label>pesquisa</label>
                  <select  class="form-control" id="select">
                     <option ></option>
                     <option value="1" onclick="mostrar_opcao(this);">plantas</option>
                     <option value="2" onclick="mostrar_opcao(this);">umidade do solo</option>
                     <option value="3" onclick="mostrar_opcao(this);">consumo de água</option>
                     <option value="4" onclick="mostrar_opcao(this);">relatorio completo</option>
                  </select>          

               </div>  


               <div id="periodo" style="display:none;"">
                  <div class="form-group">
                    <label for="dataInicio">início</label>
                    <input id="calendario1" class="form-control" type="text" name="inicio" onBlur="">
                 </div>
                 <div class="form-group">
                    <label for="dataFim">término</label>
                    <input id="calendario2" class="form-control" type="text" name="fim"  onBlur="">
                 </div> 
              </div>





              <div class="form-group">
               <a class="btn btn-default" onclick="Submit(document.getElementById('select'));" type="submit">pesquisar</a>
               <a  class="btn btn-default" onclick="window.history.go(-1)">voltar</a>
            </div>   
         </form>
      </div>
      <div class="col-xs-12 col-md-4"></div>
   </div>
</div>    

</div>

</body>
</html>